In [11]:
### install needed libraries

# !pip install google2pandas
# !pip install oauth2client

In [24]:
import pandas as pd
from google2pandas import *

## write query to fetch ga data 
query1 = {
    'reportRequests': [{
        'viewId' : 'xxxxx', ## google analytics view id
        
        'dateRanges': [{
            'startDate' : '2021-01-01',
            'endDate'   : '2021-06-26'}],

        'metrics'   : [
            {'expression': 'ga:pageviews'},
            {'expression': 'ga:totalEvents'},
            {'expression': 'ga:sessions'},
            {'expression': 'ga:users'},
            {'expression': 'ga:newUsers'}, 
             ],
            
        'dimensions': [
              {'name': 'ga:sourceMedium'},
              {'name': 'ga:pagePath'},
              {'name': 'ga:country'},
              {'name': 'ga:operatingSystem'},
              {'name': 'ga:mobileDeviceModel'},
#               {'name': 'ga:eventCategory'},
#               {'name': 'ga:eventAction'},
#               {'name': 'ga:eventLabel'},
                      ],
        'orderBys': [
            {"fieldName": "ga:sessions", "sortOrder": "DESCENDING"},
            {"fieldName": "ga:pageviews", "sortOrder": "DESCENDING"}
       ],
#         "dimensionFilterClauses": [
#         {
#           "filters": [
#             {
#               "dimensionName": "ga:dimension7",
#               "operator": "PARTIAL",
#               "expressions": ["66910122225119"]
#             }
#           ]
#         }
#       ],
  }]  
}
    
conn = GoogleAnalyticsQueryV4(secrets='xxxxxx')  ## Service Account credentials

query1_df = conn.execute_query(query1)

query1_df.tail(10)

,sourceMedium,pagePath,country,operatingSystem,mobileDeviceModel,pageviews,totalEvents,sessions,users,newUsers
1442,google / organic,/seven-times-5a-worldchampion-takeshi-matsuura/,Taiwan,Android,SM-A715F,0,1,0,1,0
1443,google / organic,/six-times-3a-worldchampion-hajime-miura/,Taiwan,Android,SM-N9860,0,1,0,1,0
1444,google / organic,/six-times-3a-worldchampion-hajime-miura/,Taiwan,iOS,iPad,0,1,0,1,0
1445,google / organic,/tag/yoyo-size/,Taiwan,Android,H9493,0,1,0,1,0
1446,google / organic,/two-times-art-performance-champion-shaqler/,Macao,iOS,iPhone,0,1,0,1,0
1447,google / organic,/yoyo-contests/,Taiwan,Android,SM-A715F,0,1,0,1,0
1448,google / organic,/yoyo-online-shops-and-stores/,Taiwan,Android,CPH1919,0,1,0,1,0
1449,google / organic,/yoyo-online-shops-and-stores/,Taiwan,Android,F8332,0,2,0,1,0
1450,google / organic,/yoyo-online-shops-and-stores/,Taiwan,Android,G8142,0,1,0,1,0
1451,google / organic,/yoyo-online-shops-and-stores/,Taiwan,Android,I002D,0,1,0,1,0

Pivot table

In [23]:
query_2 = {
  "reportRequests":
  [
    {
      "viewId": 'xxxx',## google analytics view id
      "dateRanges":
      [
        {
          "startDate": "2021-01-01",
          "endDate": "2021-06-25"
        }
      ],
      "metrics":
      [
        {
          "expression": "ga:sessions"
        }
      ],
      "dimensions":
      [
        {
          "name": "ga:country"
        }
      ],
      "pivots":
      [
        {
          "dimensions":
          [
            {
              "name": "ga:browser"
            }
          ],
          "maxGroupCount": 3,
          "startGroup": 3,
          "metrics":
          [
            {
              "expression": "ga:sessions"
            }
          ]
        }
      ]
    }
  ]
}

query2_df = conn.execute_query(query_2)

In [10]:
query2_df

            country sessions
0         (not set)        7
1         Australia       17
2           Austria        1
3           Belarus        1
4           Belgium        3
5           Bolivia        1
6          Cambodia        1
7            Canada       18
8             China       47
9           Denmark        1
10          Finland        3
11           France        6
12          Germany        4
13        Hong Kong      659
14            India        1
15        Indonesia       13
16          Ireland        1
17           Israel        1
18            Italy        9
19            Japan       33
20          Lesotho        1
21            Macao       72
22         Malaysia       57
23          Morocco        1
24  Myanmar (Burma)        1
25      Netherlands        4
26      New Zealand        2
27         Pakistan        1
28      Philippines        4
29           Poland        2
30           Russia        2
31        Singapore       19
32      South Korea        9
33            Spain        2
34      Switzerland        2
35           Taiwan     4165
36         Thailand        8
37           Turkey        1
38          Ukraine        1
39   United Kingdom        9
40    United States      131
41          Vietnam        3